@import url(common.css);

body {
  background-image: url(../img/Backgrouds/backgound_layer_intro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.intro {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -60px -160px;
  text-align: center;
}

.img {
  margin-bottom: 40px;
}

.side {
  font-family: "Bebas Neue";
  font-size: 25px;
  font-weight: 400;
}

.separator,
.side_name {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  line-height: 0px;
}

.light {
  color: white;
  padding-right: 15px;
}

.dark {
  color: white;
  padding-left: 15px;
}

.light:hover {
  transition-delay: 0.2s;
  color: hwb(193 9% 0%);
  transform: scale(1.1);
  text-shadow: 0px 0px 10px #15eaf8, 0px 0px 25px #15eaf8, 0px 0px 50px #15eaf8;
}

.dark:hover {
  transition-delay: 0.2s;
  color: #bc2323;
  transform: scale(1.1);
  text-shadow: 0px 0px 10px #f20808, 0px 0px 25px #f20808, 0px 0px 50px #f20808;
}
